.idea/
venv/
compressimages.iml
.DS_Store
build/
dist/
new_venv_universal2/
log.txt
compress_images_macOS_arm64.app
compress_images_windows.exe
/main.spec
/your_script.spec
/pyinstaller.txt
/SmartImageShrink_v0.4.spec
/SmartImageShrink_v0.5.spec
